	html {
		height:100%;
		width:100%;
	}

	body {
		    height: 100%;
    		margin-top: -8px;
	}
	.body-section {
		height:100%;
		background-color:white;
		padding:10px;
		flex-basis:90%;
		display:flex;
		   flex-wrap: wrap;
	}	
	.header-section {
		background-color:rgb(255,0,0);
		text-align:center;
		padding:12px 1px;
		color:white;
		font-size: xx-large;
		    font-weight: bold;
		    flex: 0 0 auto;
	}
	
	
	
	.align-left {
		text-align:left;
	}

	.margin-left50 {
		margin-left:50px;
	}

	.profile-name {
		margin-top:5px;
		font-weight: 600;
		font-size: 26px;
		text-align: left;
	}


	
	.repoitem-title {
		color:rgb(255,0,0);
		    font-size: 18px;
	}
	.game-item {
		padding:10px;
		cursor:pointer;	
    		font-size: x-large;
		text-align:left;
		margin-left:0px;
		background-color:white;
		    display: flex;
		border-top:1px solid rgb(234,234,234);
		border-bottom:1px solid rgb(234,234,234);
		
	}
	.tech-item:hover {
		box-shadow: 3px 2px 2px gray;
	}
	
	.content-header-title {
		margin-bottom:10px;
		margin-top:10px;
		color:#322955;
		font-size:-webkit-xxx-large;
	}
	
	ul {
	        list-style-type: none !important;
	  	padding-left: 0;
	}
	ul li {
		max-width:100%;
		padding-top:4px;
		text-overflow: ellipsis;
	  	text-align:left;
	     
	}

	.games-details {
		border:2px solid rgb(175,175,175);
		border-radius:6px;
		display:flex;
		flex-direction:column;
		flex:1;
	}
	.search-section {
		padding:10px;
		background-color:rgb(228,228,228);
	}

	.search-section .search-bar {
		display:flex;
	}

	.search-bar input {
		flex:1;
	}

	.search-bar span {
		color:black;
		font-weight:bold;
	}

	.list-header {
		background-color:rgb(249,249,249);
		display:flex;
		padding:10px;
		font-weight:bold;
		color:rgb(255,0,0);
	}

	.all-games-container {
		flex:1;
		overflow-y:scroll;
	}

	.game-item:nth-child(even) {
		background-color:rgb(249,249,249);
	}

	.game-item .name-section,.list-header .name-section {
		flex-basis: 70%;
	}

	.game-item .score-section,.list-header .score-section {
		flex-basis: 15%;
		
	}

	.game-item .choice-section,.list-header .choice-section {
		flex-basis: 15%;
	}

	.platform {
		    font-size: 17px;
	}

	.align-center {
		text-align:center;	
	}

	.sorting-section {
		flex-basis:17%;
		border: 2px solid rgb(175,175,175);
    		margin-right: 10px;
    		border-radius: 6px;
    		display:flex;
		flex-direction:column;
	}

	.sorting-section .filter-label {
		color:black;
		text-align: center;
		font-weight: bold;
		font-size: 17px;
		background-color: rgb(228,228,228);
		padding: 11px;
	}

	.sorting-section .score-text {
		    font-weight: bold;
    		    padding-left: 10px;
	            margin-top: 11px;
	}

	 form {
		        padding-left: 18px;
			margin-top: 5px;
			    margin-bottom: 10px;
	}

	input[type=radio] {
		margin-right:5px;
	}

	@media all and (max-width:700px) {
		.body-section {
			flex-direction:column;
		}
		.sorting-section {
			    flex: 0 0 auto;
			    margin-bottom: 20px;
				    margin-right: 0px;
		}

		.games-details {
			flex:1;
		}
	
	}
