<div class="header-section">{{headerTitle}}</div>
<div class="body-section">
	   <div class="games-details">
		   <div class="search-section">
			<div class="search-bar"><input type="text" value="search" ng-model="searchKeyword"></input><span>Search</span></div>
		   </div>	
		   <div class="list-header">
				<div class="name-section">
					Name
				  </div>
				    <div class="score-section">
				      Score
				    </div>
				    <div class="choice-section">Editors Choice
				    </div>
		   </div>
		   <div class="all-games-container">
			   <div ng-repeat="item in listsOfGames| filter: searchKeyword"  class="game-item" style="line-height:1;">
				   <div class="name-section">
					<div class="repoitem-title">{{item.title}}
				        </div>
					<div class="platform">{{item.platform}}</div>
				  </div>
					    <div class="score-section">
					      <img src="images/star_black.svg"></img>{{item.score}}
						
					    </div>
					    <div class="choice-section">{{item.editors_choice}}
					    </div> 
			   </div>
		   </div>
           </div>
</div>
